body {
  background-color: #999b90;
}

h1 {
  color: #333;
  text-align: center;
}
h3 {
  margin-top: 350px;
  text-align: center;
  font-size: large;
}
.container {
  display: flex;
  flex-flow: row nowrap;
}

.white {
  position: relative;
  background-color: white;
  width: 7.2%;
  height: 450px;
  margin: 0 auto;
}

.white.black:after {
  content: "";
  position: absolute;
  top: 0;
  background: rgb(17, 11, 11);
  right: -25%;
  width: 50%;
  height: 50%;
  z-index: 1;
}
