body {
  background-color: #333;
}

h1 {
  color: #f4f4f4f4;
  text-align: center;
}
h3 {
  margin-top: 350px;
  text-align: center;
  font-size: large;
}
.inner-container {
  display: flex;
  flex-flow: row nowrap;
}

.white {
  position: relative;
  background-color: white;
  width: 7.1%;
  height: 450px;
  margin: 0 auto;
}

.white.black:after {
  content: " ";
  position: absolute;
  top: 0;
  background: rgb(17, 11, 11);
  right: -25%;
  width: 50%;
  height: 50%;
  z-index: 1;
}
.active {
  text-shadow: 0 0 5rem red;
  transition: all 0.07s ease;
  transform: scale(0.99);
  border-color: red;
  box-shadow: 0 0 5rem red;
}
